.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1A334A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  color: white;
}

.sidebar-title {
  color: #27E6EC;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.sidebar-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0
  rem;
  flex-grow: 1;
  padding: 0 rem;
 
}

.sidebar-btn {
  width: 100%;
  padding: 1rem 1.5rem;
  text-align: left;
  color: white;
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
}

.sidebar-btn:hover {
  background-color: #27E6EC;
  color: #1A334A;
}

.sidebar-btn.active {
  background-color: #27E6EC;
  color: #1A334A;
  font-weight: bold;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-size: 18px;
}
